<div class="body-resume grey-bg">
    <div class="label">
        Tutti gli utenti
    </div>
</div>

<div class="body-transaction">
  <%= will_paginate %>
        <% @users.each do |user| %>
            <a class="li-element">
                <%= user.name %>
            </a>
            <br>
        <% end %>
    <%= will_paginate %>
</div>

