<div class="body-resume grey-bg">
    <div class="label">
        Selezionare utente
    </div>
    <ul>
        <% User.all.each do |user| %>
            <%= link_to user.name, new_user_transaction_path(user.id) , class:"button-text btn-block btn btn-outline-primary my-2 my-sm-0" %>
        <% end %>
    </ul>
</div>